[submodule "LrssnEngine/vendors/spdlog"]
	path = LrssnEngine/vendors/spdlog
	url = https://github.com/Lrssn/spdlog
[submodule "LrssnEngine/vendors/GLFW"]
	path = LrssnEngine/vendors/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "LrssnEngine/vendors/Imgui"]
	path = LrssnEngine/vendors/Imgui
	url = https://github.com/ocornut/imgui.git
[submodule "LrssnEngine/vendors/Glm"]
	path = LrssnEngine/vendors/Glm
	url = https://github.com/g-truc/glm.git
[submodule "LrssnEngine/vendors/entt"]
	path = LrssnEngine/vendors/entt
	url = https://github.com/skypjack/entt.git
[submodule "LrssnEngine/vendors/yaml-cpp"]
	path = LrssnEngine/vendors/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "LrssnEngine/vendors/ImGuizmo"]
	path = LrssnEngine/vendors/ImGuizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
